services:
  redis:
    image: redis:7-alpine
    container_name: redis
    volumes:
      - redis_data:/data
    restart: unless-stopped
    network_mode: host

  agent:
    image: pi-mono-agent:latest
    container_name: agent
    network_mode: host
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://127.0.0.1:6379
      - GEMINI_API_KEY
    volumes:
      - /home/ubuntu/.pi:/home/pi-mono/.pi
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
      network: host
    container_name: gateway
    depends_on:
      - redis
    restart: unless-stopped
    network_mode: host
    environment:
      - TELEGRAM_TOKEN
      - REDIS_URL=redis://127.0.0.1:6379
      - ALLOWED_USER_IDS=7722403902

  litellm:
    image: ghcr.io/berriai/litellm:main-v1.81.9-nightly
    container_name: litellm
    environment:
      - GEMINI_API_KEY
      - LANGFUSE_PUBLIC_KEY=pk-lf-493ce7f9-d1f6-4482-a658-fe4ac98da5c4
      - LANGFUSE_OTEL_HOST=https://us.cloud.langfuse.com
      - LANGFUSE_SECRET_KEY
    volumes:
      - ./litellm.config.yaml:/app/config.yaml
    command: "--config /app/config.yaml"
    network_mode: host
    
volumes:
  redis_data: